{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript"
    // [@babel/preset-react]
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@emotion"
  ]
}
